vault_zip = "vault_1.15.0+ent.zip"
vault_url = "https://releases.hashicorp.com/vault/vault_1.15.0+ent.zip"
consul_zip = "consul_1.16.2+ent.zip"
consul_url = "https://releases.hashicorp.com/consul/consul_1.16.2+ent.zip"
